@page
@model RestaurantWebApp.Pages.Menu.IndexModel

@{
    ViewData["Title"] = "Admin Menu";
}

<h1>Admin Menu</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form method="post">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodItem[0].Item_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodItem[0].Item_desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodItem[0].Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodItem[0].Vegetarian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodItem[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodItem[0].ImageData)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FoodItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vegetarian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
                @{
                    try
                    {
                        <td>
                                <img class="square-menu"  src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.ImageData))" alt="@item.ImageDescription" />
                        </td>
                    }
                    catch
                    {
                        <td>
                            <img class="img-thumb" src="/Images/no-image.png" alt="No Image provided" />
                        </td>
                    }
                }

         @*    <td>
                <button type = "submit" asp-page-handler="Buy" asp-route-itemID="@item.ID">
                    Add To Basket
                </button>
            </td> *@
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
            
        </tr>
}
    </tbody>
</table>
</form>
