@page
@model RestaurantWebApp.Pages.Menu.MenuModel
@{
	ViewData["Title"] = "Menu";

}
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<div class="main">
	<div class="title">
		<h2 class="pagetopper">Our Menu</h2>
		<p>A mix of traditional and street foods</p>
		<p><i class='fas fa-seedling fa-2xs vegan'></i> vegan</p>
		<form id="form" class="formy" role="search" method="post" asp-page-handler="Search">
			<input class="inputy" type="search" id="query" name="Search"
				   placeholder="Search Food Items..."
				   aria-label="Search through site content">
			<button class="buttony" type="button" onclick="submitForm()">Go!</button>
		</form>



	</div>
	<div class="foods">
		@if (Model.FoodItem != null){

		@foreach (var item in Model.FoodItem)
		{
			if (item.Available == true)
			{
				//Start of adapted code Nahian, 2023
				<div class="oneItem">
					@if (item.ImageData != null && item.ImageData.Length > 0)
					{
						<img src="@($"data:image/jpg;base64,{Convert.ToBase64String(item.ImageData)}")" alt="@item.ImageDescription" />
					}
					else
					{
						<img class="img-thumb" src="/Images/no-image.png" alt="No Image provided" />
					}
					<div class="itemInfo">

						<h3>@Html.DisplayFor(modelItem => item.Item_name)
							@if (item.Vegetarian == true)
							{
								<i class='fas fa-seedling fa-2xs vegan'></i>
							}
							<span>@Html.DisplayFor(modelItem => item.Price)</span>
						</h3>
						<p>@Html.DisplayFor(modelItem => item.Item_desc) </p>
						<form method="post">
							@if (User.IsInRole("Member") && User.Identity.IsAuthenticated)
							{
								<button type="submit" asp-page-handler="Buy" asp-route-itemID="@item.ID" class="btn btn-outline-dark">
									<span class="bi bi-cart3"></span> Add To Cart
								</button>
							}
							else if (User.IsInRole("Admin"))
							{
								<p class="text-muted">Admins don't have access to add items to the cart.</p>
							}
							else
							{
								<button type="submit" asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-dark">
									<span class="bi bi-cart3"></span> Add To Cart (Login Required)
								</button>
							}

						</form>


					</div>
				</div>
				//end of adapted code
			}
		}

		}
		else
		{
			<p>No food items available.</p>
		}
	</div>
</div>
