@page
@model RestaurantWebApp.Pages.CheckoutModel
@{
    ViewData["Title"] = "Basket";
}

<div class="title">
    <h2 class="pagetopper">Basket</h2>
    <a asp-page="/UserOrderHistory">
        <span class="bi bi-archive"> See Order History</span>
    </a>
</div>

@if (Model.Items.Count == 0)
{
    <p class="text-center">You do not have any items in your basket. Please Revisit the <a asp-area="" asp-page="/Menu/Menu">Menu</a>.</p>

}
else
{
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    var subtotal = item.Price * item.Quantity;
                    <tr>
                        <td>@item.Item_Name</td>
                        <td>@item.Price.ToString("C")</td>
                        <td>
                        <form method="post" asp-page-handler="UpdateQuantity">
                            <input type="number" name="quantity" value="@item.Quantity" min="1" />
                            <input type="hidden" name="itemId" value="@item.ID" />
                            <button type="submit">Update Quantity</button>
                        </form>
                        </td>
                        <td>@subtotal.ToString("C")</td>
                        <td>
                            <form method="post" asp-page-handler="Delete">
                                <input type="hidden" name="itemId" value="@item.ID" />
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <h2>Order Total: @Model.Total.ToString("C")</h2>   

 

    <form id="menuForm" asp-area="" asp-page="/Payment" method="get">
        <button type="submit" class="custom-btn">
            <span class="bi bi-credit-card">Checkout </span>
        </button>
    </form>



}
