@page
@model RestaurantWebApp.Pages.CheckoutModel
@{
    ViewData["Title"] = "Checkout Basket";
}

<h1>@ViewData["Title"]</h1>

@if (Model.Items.Count == 0)
{
    <p>You do not have any items in your basket. Please Revisit the Menu.</p>
}
else
{
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    var subtotal = item.Price * item.Quantity;
                    <tr>
                        <td>@item.Item_Name</td>
                        <td>@item.Price.ToString("C")</td>
                        <td>
                        <form method="post" asp-page-handler="UpdateQuantity">
                            <input type="number" name="quantity" value="@item.Quantity" min="1" />
                            <input type="hidden" name="itemId" value="@item.ID" />
                            <button type="submit">Update Quantity</button>
                        </form>
                        </td>
                        <td>@subtotal.ToString("C")</td>
                        <td>
                            <form method="post" asp-page-handler="Delete">
                                <input type="hidden" name="itemId" value="@item.ID" />
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <h2>Order Total: @Model.Total.ToString("C")</h2>
@*         <button type="submit" asp-page-handler="Buy">Buy</button>
 *@    
    <form action="/Payment/">
        <i class="bi bi-credit-card"></i>
        <button type="submit">Pay</button>
    </form>
}
