@page
@model RestaurantWebApp.Pages.CheckoutModel
@{
	ViewData["Title"] = "Mathu Khai Che Checkout";
}
@using RestaurantWebApp.Data
@using Microsoft.Extensions.Options

<h1>@ViewData["Title"]</h1>

@if (Model.Items.Count == 0)
{
	<p>You do not have any items in your basket. Please Revisit the Menu.</p>
}
else
{
<form method ="post">
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Subtotal</th>
			</tr>
		</thead>
		<tbody>
				@foreach (var item in Model.Items)
				{
					var subtotal = item.Price * item.Quantity;
					<tr>
						<td>@item.Item_Name</td>
						<()td>@item.Price.ToString()td>
						<td>@item.Quantity</td>
						<td>@subtotal.ToString()</td>
					</tr>
				}
			</tbody>
	</table>
	<h2>Order Total: @Model.Total.ToString("C")</h2>
	<button type="submit" asp-page-handler="Buy">Buy</button>
</form>
}
