@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
    var isMemberRole = User.IsInRole("Member");
    var isAdminRole = User.IsInRole("Admin");
}
<head>
    <title>@ViewData["Title"]</title>
    <link type="image/png" sizes="16x16" rel="icon" href=".../icons8-house-16.png">
    <link type="image/png" sizes="96x96" rel="icon" href=".../icons8-house-96.png">
</head>
<body> 
<div class="text-center">

    <div class="text">Mathu Khai Che</div>
    <div class="slider">
        <div class="slide"> </div>
        <div class="slide"></div>
        <div class="slide"> </div>
        <div class="slide"></div>
        <div class="slide"> </div>
    </div>
    <h1 class="margintop">Aromatic Delights, Authentic Bites</h1>
@*     <p>Is Admin: @isAdminRole</p>
    <p>Is Member: @isMemberRole</p> *@
</div>


@* Specials Section *@
@*  
Start of adapted code, Muhib, 2022
Using a tutorial for the outline   https://www.youtube.com/watch?v=Q3MPM7fBO5U*@

    <section class="section">
        <div class="container">
            <div class="dishSelection">
                <div class="dishTop">
                    <h2>Our Specialties</h2>
                </div>
            <div  class="dishWrapper">

                @foreach (var tblFoodItems in Model.FoodItem.Take(3)){
                <div class="dishItem">
                    <div class="dishImage">
                            @if (tblFoodItems.ImageData != null && tblFoodItems.ImageData.Length > 0)
                            {
                                <img src="@($"data:image/jpg;base64,{Convert.ToBase64String(tblFoodItems.ImageData)}")" alt="@tblFoodItems.ImageDescription" />
                            }
                            else
                            {
                                <img class="img-thumb" src="/Images/no-image.png" alt="No Image provided" />
                            }
                    </div>
                    <div class="dishContent">
                            <h3>@tblFoodItems.Item_name</h3>
                    </div>
                    <div class="dishContentBottom">
                            <span class="dishPrice">@tblFoodItems.Price?.ToString("C2")</span>

                            <form method="post" asp-page-handler="Buy" asp-route-itemID="@tblFoodItems.ID">
                                @if (User.IsInRole("Member"))
                                {

                                    <button type="submit" class="btn btn-outline-dark">
                                        <span class="bi bi-cart3"></span> 
                                    </button>
                                }
                                else if (User.IsInRole("Admin"))
                                {
                                    <p class="text-muted">Cannot Add</p>
                                }
                                else
                                {
                                    <a href="/Identity/Account/Login" class="btn btn-outline-dark float-right">
                                        <span class="bi bi-cart3"></span>
                                    </a>
                                }

                            </form>
                    </div>
                </div>
                }

            </div>
            </div>
        </div>
    @*End of adapted code *@
        <form id="menuForm" action="/Menu/Menu" class="formbox">
        <div class="box-3">
            <div class="btny btn-three" onclick="redirectToMenu()">
                <span>Go To Menu!</span>
            </div>
        </div>
    </form>

</section>



<section class="section">
    <h2 class="story-heading">Our Story</h2>
    <div>
        <p class="story-paragraph">
            Welcome to Mathu Khai Che, where the dreams of flavor enthusiasts come to life, 
            bringing the authentic tastes of Gujarat, India, to the Isle of Man. 
            Our culinary journey is deeply rooted in Gujarat's rich heritage, weaving together the 
            essence of Gujarati chaats with global inspirations. Our dedicated team has crafted an eclectic menu 
            that transcends geographical boundaries, sparking the imagination and tantalizing the taste buds. From 
            the streets of Gujarat to our kitchen, we celebrate authenticity by using locally sourced, fresh ingredients. 
            Mathu Khai Che is more than a restaurant; it's a celebration of culture, tradition, and the joy of sharing delicious
            meals with friends and family. Join us on this culinary adventure, immerse yourself in the vibrant spirit of Gujarat, 
            and make Mathu Khai Che a part of your own story.
        </p>        
    </div>

</section>

<section class="section ">
    <h2>Contact Info</h2>
    <div class="thiing iconcolor">
        <div class="contact-info">
            <i class="fas fa-map-marker-alt mt-4 fa-2x"></i>
            <p>
                233 Circle Street <br>
                Douglas, Isle Of Man
            </p>
        </div>
        <div class="contact-info">
            <i class="fas fa-phone mt-4 fa-2x"></i>
            <p>
                Call Ahead:<br>
                +44 07624 123456
            </p>
        </div>       
        <div class="contact-info">
            <i class="fas fa-envelope mt-4 fa-2x"></i>
            <p>
                Email Us: <br>
                mathukhaicheiom@gmail.com
            </p>
        </div>
       
        <div class="contact-info">
            <i class="fas fa-clock mt-4 fa-2x"></i>
            <p>
                Open Hours: <br>
                Monday-Saturday: 11am-10pm
            </p>
        </div>
    </div>

    <form id="contactForm" action="/Contact" class="formbox">
    <div class="box-3">
            <div class="btny btn-three" onclick="redirectToContact()">
    <span>Futher Details</span>
    </div>
    </div>
    </form>
</section>


</body>
